.col-md-12.col-xs-12
  %h1= t("common.contacts")
  %p.info Приложение Experteese разработано в качестве курсового проекта по дисциплине "Применение альтернативных фреймвоков Ruby_on_Rails".
  %p.info Предложения по развитию приложения и улучшению его функциональности можно направлять по адресу: 123@mail.ru
