
.center.jumbotron
  %h1 App Experteese
  %h2
    =t(".app_ruby")

  - if signed_in?
    = link_to t(".expertise"), work_path, class: "btn btn-lg btn-white"
  - else
    = link_to t(".registration"), signup_path, class: "btn btn-lg btn-white"
  .shadow-main