%footer
  .container-fluid
    .copyright
      .glyphicon.glyphicon-copyright-mark
      %span.h by Peach Lab Inc.
      =image_tag("pictures/h.png")
    %ul.nav.navbar-nav
      %li= link_to t('common.about'), about_path
      %li= link_to t('common.help'), help_path
      %li= link_to t('common.contacts'), contacts_path
