.form_select.form-group
  = form_tag("/display_theme", remote: true,  :format => "js") do
    = select_tag :theme,
      options_for_select(@themes, selected: @selected_theme),
      prompt: t('.select_theme'),
      onchange:  "$(this).parent('form').submit();",
      formats: [ :js ],
      class: "form-control"


    -#include_blank: true,
    -#%button.button__choose
    -#  = submit_tag 'select'
