@import "common/index"

.container .jumbotron
  box-shadow: 0 0 40px $black-light
  border-radius: 2px
  color: $white
  background-color: $black-normal
  text-align: center
  margin-top: 25px
  padding: 40px 60px
  h1
    font-weight: 100
    font-size: 4em
    filter: drop-shadow(1px 1px 1px $gray-dark)
  h2
    margin-top: 10px
    margin-bottom: 20px
    color: $gray-normal

